@use "sass:map";


.nav-responsive {
    background-color:$color-secondary;
    display: none;

    &__userlogo {
        height: 70px;
    }

    &__canvas {
        background-color:$color-secondary;

        & img {
            height: 80px;
        }

        & a {
            font-size: 30px;
            text-transform: capitalize;
        }
    }

    @media (width < map.get($break-pontis, "md")) {
        display: block;
    }
}