%container-flex-properties {
    display: block !important; // Cambia el valor según tus necesidades
    align-items: flex-start; // Cambia el valor según tus necesidades
    justify-content: center !important; // Cambia el valor según tus necesidades
  }