//////// TIPOGRAFY ////////
$font-family-primary:'Cinzel', serif;
$font-family-scondary:'Playfair Display', serif;
$font-family-tertiary: 'Lato', sans-serif;

//////// COLORS ////////    
$color-body:#EEEDE9;
$color-primary:#DB7E1E;
$color-secondary:#6E419A;
$color-tertiary:#ffff;
$color-success :#4DB559;
$color-danger :#F54646;

$break-pontis: (
    "xs": 595px,
    "sm":760px,
    "md":1200px, 
);