@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300&family=Cinzel&family=Lato&display=swap&=family=Playfair+Display:wght@400;500&display=swap&family=Cinzel&display=swap');


/* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO INDEX / GENERAL
   ///////////////////////////////////////////////////////////////////////////////////////////
*/

.container-grid {
    max-width: 100% dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    & header {
            grid-area: header;
        }
        
    & main {
            grid-area: main;
            
        }
    & footer {
            grid-area: footer;
        }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO INDEX / HEADER 
   ///////////////////////////////////////////////////////////////////////////////////////////
*/

header {

    & .custom-nav {
        background-color: #6E419A;
        justify-content: space-around;
    
        & .navbar-brand {
    
            & .nav-logo {
                height: 120px;
                rotate: calc(-20deg);
            }
        
            & .name-logo {
                font-family: 'Cinzel', serif;
                text-transform: capitalize;
                margin-top: 40px;
                & h1, h2 {
                    font-size: 28px;
                    font-weight: bold;
                }
                & h2 {
                    margin-left: 15px;
                    color: #DB7E1E;
                }
        
            }
        }
    
        & form {
            & .search-input-container {
                position: relative;
    
                & .busqueda {
                    width: 480px;
                    border-radius: 10px;
                }
                & .search-btn {
                    background-color: #575353;
                    border-radius: 0 10px 10px 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    
                    &:hover{
                        background-color:#575353;
                    }
                }
                & span {
                    color: #db7e1e;
                }
            }
        }
    
        & .custom-nav-ul{
            gap: 30px;
    
            & a {
                font-family: 'Playfair Display', serif;
                text-transform: capitalize;
                font-size: 22px;
    
                &:hover {
                    color: #db7e1e !important ;
                }
            }
        
        }
    
        & .user {
            font-family: 'Playfair Display', serif;
        
            align-items: center;
            & p {
                font-size: 12px;
                text-transform: capitalize;
                margin-bottom: 0;
            }
            & h3 {
                font-size: 14px;
            }
            & .user-line {
                height: 1px;
                width: 50px;
                background-color: #DB7E1E;
                rotate: calc(90deg);
            }
        }
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO INDEX / MAIN
   ///////////////////////////////////////////////////////////////////////////////////////////
*/

.index-grid {


    display: grid;
    justify-content: center;
 
    grid-template-areas: 
    "hero hero"
    "section1 aside"
    "section2 aside"
    "streaming streaming";

    /* ///////////////////////////////////////////////////////////////////////////////////////////
        ESTILO INDEX / MAIN / SECTION-HERO
       ///////////////////////////////////////////////////////////////////////////////////////////
    */
    
    & .custom-section-hero {
        grid-area: hero;
        
        & article {
            & img {
                width: 100%;
                height: 400px;
            }
        }
    }
    
    /* ///////////////////////////////////////////////////////////////////////////////////////////
        ESTILO INDEX / MAIN / CARTAS POPULARES
       ///////////////////////////////////////////////////////////////////////////////////////////
    */
    
    & .carrusel-section{
        grid-area: section1;
        margin-top: 20px;
        width: 100%; 
    
        & .custom-carrusel-nav{
            height: 40px;
            background-color:#545454 ;
    
            & .custom-arrow{
                width: 100px;
                margin-right: 20px;
            }
    
            & .custom-arrow-prev {
                width: 60px;
            }
    
    
    
        }
    
        & .carrusel {
            padding: 0 18px;
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            margin: 10px auto;
            
            & img {
                width: 140px;
                height: 210px;
            }
    
            & .custom-info {
                margin: 10px auto;
                gap: 2px;
                & .span-success {
                    background-color:#E8F5E9 ;
                    color: #4DB559;
                }
                
                & .span-danger {
                    background-color:#FFC3C3 ;
                    color: #F54646;
                }
                & .compra {
                    background-color: #E1C9F8;
                    padding: 2px;
                }
    
                & span {
                    font-weight: bold;
                    font-size: 8px;
                    padding: 8px;
                    
                }
                
                & .input-cart {
                    width: 25px;
                    font-size: 8px;
                    background: transparent;
                    border: 1px solid #6E419A;
    
                    &::placeholder {
                        font-weight: bold;
                    }
                }
                
            }
        }
    
    
    }
    
    /* ///////////////////////////////////////////////////////////////////////////////////////////
        ESTILO INDEX / MAIN / MAZOS POPULARES
       ///////////////////////////////////////////////////////////////////////////////////////////
    */
    
    & .mazos-section {
        grid-area: section2;
        margin: 20px auto;
        
        & select:focus {
            box-shadow: none !important;
            border: none;
        }
        & .custom-line {
            margin: 10px auto;
            width: 100%;
            height: 2px;
            background-color: #DB7E1E;
        }
    
        & main {
            margin: 10px auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* todavia no esta responsivo */
            gap: 20px;
            & article {
                & h5  {
                    color: #DB7E1E ;
                    text-transform: capitalize;
                    font-family: 'Playfair Display', serif;
                }
    
                & .custom-price {
                    background-color: #545454;
                }
                
            }
        }
    
    
    }
    
    /* ///////////////////////////////////////////////////////////////////////////////////////////
        ESTILO INDEX / MAIN / STREAMING
       ///////////////////////////////////////////////////////////////////////////////////////////
    */
    
    & .custom-streaming {
        grid-area: streaming;
        margin: 20px auto;
        width: 100%;
            & img {
                width: 100%;
            }
    }
    
    /* ///////////////////////////////////////////////////////////////////////////////////////////
        ESTILO INDEX / MAIN / ASIDE
       ///////////////////////////////////////////////////////////////////////////////////////////
    */
    
    & aside {
        grid-area: aside;
        margin: 20px auto ;
        justify-self: center;

        & article {
            margin-bottom: 30px;
        }

    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO INDEX / FOOTER
   ///////////////////////////////////////////////////////////////////////////////////////////
*/

footer {
    background-color: #6E419A;
    width: 100%;
/*     height: 300px; */
    margin-top: auto;  
    & h2,
    a {
        font-family: 'Playfair Display', serif;
    }

    & article {
        margin-top: 20px;
    }

    & .social {
        & h2 {
            margin-left: 35px;
            font-weight: bold;
            font-size: 40px;
        }

        & .custom-social {
                margin-top: 30px;
            & li {
                list-style: none;
                background-color: #ffff;
                border-radius: 50%;
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;

            }
            
            & svg {
                transition: background-color 0.5s ease, transform 0.5s ease-in-out;
            }
            
            & svg:hover {
               transform: scale(1.5);
           
            }
        }
    }

    & .play {
        grid-area: play;
        & h2 {
            font-size: 28px;
        }
        & a {
            color: #DB7E1E;
            font-size: 18px;
            display: inline-block;

            &:hover {
                color:#ffff;
            }
        }
    }

    & .patrocinio {
        grid-area: patrocinio;
        margin-bottom: 30px;
        gap: 20px;

        & img {
            height: 40px;
        }


    }

    & .footer-logo {
        grid-area: logo;
        
        & .nav-logo {
            height: 120px;
            rotate: calc(-20deg);
        }

        & .name-logo {
            font-family: 'Cinzel', serif;
            text-transform: capitalize;
            margin-top: 40px;
            & h1, h3 {
                font-size: 28px;
                font-weight: bold;
            }
            & h3 {
                margin-left: 15px;
                color: #DB7E1E;
            }
    
        }


    }

    & .copyright {
        & p {
            font-family: 'Lato', sans-serif;
            font-size: 12px;
        }
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO MAZOS / MAIN
   ///////////////////////////////////////////////////////////////////////////////////////////
*/

.mazos {

    
    & .custom-subNav {
        margin-top: 20px;
        text-transform: capitalize;
        
        & a{
            color: #6E419A;
            font-size: 15px;
            font-family: 'Lato', sans-serif;

            &:hover {
                color: #DB7E1E;
            }
        }
    }

    & .mazos-section {
        

        & header {
                justify-content: space-between;

                & select {
                    width: 150px;
                    margin-left: 20px;
                }
                & h1 {
                    font-family: 'Cinzel', serif;
        
                }
            }
            
        & article {
            
            & .card-body {
    
                & h5,
                img {
                    font-size: 25px;
                    font-family: 'Playfair Display', serif;
                    margin-left: 10px;
                }
    
            }
            & ul {
                list-style: none;
                text-transform: capitalize;
    
                & li {
                    font-size: 14px;
                }
    
    
            }
    
    
            & p {
                font-size: 10px;
            }
    
            & .custom-price {
                margin-top: 10px;
                height: 50%;
                padding: 5px;
            }

        }

    }


    }

/* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO BAZAR / MAIN
   ///////////////////////////////////////////////////////////////////////////////////////////
*/


.bazar-hero {
    grid-area: hero;

    & h2 {
        font-family: 'Cinzel', serif;
        font-size: 25px;
    }

    & p {
        font-family: 'Lato', serif;
        font-size: 20px;
    }

    & a {
        text-decoration: none;
        background-color:#DB7E1E ;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        font-family: 'Cinzel', serif;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 2rem;
        letter-spacing: 2px;
    }


}

.section1 {
    grid-area: section1;
    margin:0 0 40px 100px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO REGISTRO / MAIN
   ///////////////////////////////////////////////////////////////////////////////////////////
*/

    .section-registro {
        
        & .custom-form {

                & input {
                    width: 300px ;
                    border-radius: 5px;
                    border: 1px solid black;
                    height: 33px;
                }
                & label {
                    margin-bottom: 15px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px
                }
            
                & span {
                    text-transform: capitalize;
                    display: inline-block;
                    width: 100px;
                }
            
                & .date label {
                    width: 70px;
                }
                & label svg {
                    display: none;
                }
            }
            & .btn-submit {
                background-color: #DB7E1E;
                color: #ffff;
                text-transform: uppercase;
                font-family: 'Cinzel', serif;
                &:hover {
                    background-color: #db7d1e92;
                }
            }
        }
    

/* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO ARTICULOS / MAIN
   ///////////////////////////////////////////////////////////////////////////////////////////
*/

.custom-section-articulos {

    & article {
        width: 100%;
        margin: 0 0 20px 100px;
        & .custom-card-end {

            margin-top: 140px;
        }
        & .custom-price {
            background-color: #545454;
            color: #ffff;
            width: 70px;
            padding: 5px;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 40rem;

            & small {
                margin-left: 5px;
            }
            & svg {
                cursor: pointer;
            }
        }
    }


}


/* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO / RESPOSIVE
   ///////////////////////////////////////////////////////////////////////////////////////////
*/

@media screen and (width < 1060px) {


    /* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO / COMPONENTES
    ///////////////////////////////////////////////////////////////////////////////////////////
    */

    header {
        .custom-nav{
            & .navbar-brand {
                & .nav-logo {
                    height: 48px !important ;
                }
                & .name-logo {
                    margin-top: 16px !important;
                    & h1, h2 {
                        font-size: 10px !important;
                    }
                    & h2 {
                        margin-left: 10px !important;
                    }
                }
            }
    
    
        }

        & .user {
            display: none !important;
        }
    
        & .busqueda {
            width:350px;
            height: 30px;
        }
    }

    footer {
        & section {
            flex-direction: column;
            align-items: center;
    
            &.footer-logo {
                background-color: red;
                display: none;
            }
    
        }
    }


        /* ///////////////////////////////////////////////////////////////////////////////////////////
        ESTILO / INDEX / MAIN
        ///////////////////////////////////////////////////////////////////////////////////////////
        */
    .index-grid {
            grid-template-columns: 1fr;
            grid-template-areas: 
            "hero"
            "section1"
            "section2"
            "aside"
            "streaming ";

            & aside {
                grid-area: aside;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
            }


            & .carrusel-section{
                width: 350px;
                justify-self: center;
                & article {
                    display: flex;
                    justify-content: center;
                    &:nth-last-child(-n+3) {
                        display: none;
                    }
                    &:first-child {
                        justify-content: center;
                        & img {
                            width: 250px;
                            height: 350px;
                        }
                    }
                }
                & .carrusel {
                    float:none;
                    & .custom-info {
                        margin: 10px auto;
                        gap: 6px;

                        & span {
                            font-size: 18px;
                            padding: 8px;
                            
                        }
                        
                        & .compra {
                            padding: 5px;

                            & .input-cart {
                                width: 35px;
                                height: 25px;
                                font-size: 8px;
                
                            }
                        }

                        
                    }
                }

    
            }
        

            & .mazos-section {

                & main {
                    grid-template-columns: repeat(2, 1fr);
                    justify-content: center;
                    & article {
                        width: 80%;
                        margin: 10px;
                        
                        &:nth-last-child(-n+4) {
                            display: none;
                        }
            
                    } 
                }
            
            
            }
        


        }  


        /* ///////////////////////////////////////////////////////////////////////////////////////////
        ESTILO / INDEX / FOOTER
        ///////////////////////////////////////////////////////////////////////////////////////////
        */
}



@media screen and (width < 790px) {


    /* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO INDEX / HEADER
   ///////////////////////////////////////////////////////////////////////////////////////////
    */
    .custom-nav{

        & .navbar-brand {
            & .nav-logo {
                height: 48px !important ;
            }
            & .name-logo {
                margin-top: 16px !important;
                & h1, h2 {
                    font-size: 10px !important;
                }
                & h2 {
                    margin-left: 10px !important;
                }
            }
        }


    }
    

    .busqueda {
        width: 400px;
        height: 25px;
    }

    input::placeholder {
        font-size: 10px;
    
    }

    .search-btn {
       & span {
        top: 0;
        right: 0;
        position: absolute;
       }
    }

    /* ///////////////////////////////////////////////////////////////////////////////////////////
    ESTILO INDEX / FOOTER
    ///////////////////////////////////////////////////////////////////////////////////////////
    */

    footer {
        grid-template-areas: 
        "social"
        "play"
        "patrocinio"
        "logo"
        "copyright";    
    }



}

@media screen and (width < 650px) {
    
    .index-grid {

        & .custom-streaming {
                & picture {
                    justify-content: center;
                    display: flex;
                }
                & img {
                    width: 70%;
                }
        }
    }
    
    
    .busqueda {
        width: 250px !important;
        &::placeholder {
            position: absolute;
            top: 50%;
        }
        
    }
    

}
